/* Стили карточки */
main{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.main-text{
    padding: 0px 40px;
}

main figure{
    width: 50%;
}

main figure img{
width: 100%;
}

main figcaption{
    text-align: center;
    padding: 10px;
}