/* Стили подвала */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer img {
    width: 100px;
    padding: 20px;
}

.footer-image-href{
    display: block;
}

footer nav a {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 18px;
    transition: .5s all;
}

footer nav a:visited {
    color: #000;
}

footer nav a:hover {
    color: #f2c50e;
}

footer nav a:active {
    transform: scale(1.2);
}